*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
  height: 100%;
  font-family: "Poppins", sans-serif;
}

body {
  font-size: 1.6rem;
  min-height: 100%;
  background: #051139;
  color: #fff;
}
header {
  display: flex;
  justify-content: space-between;
}
.logo {
  margin: 2.5rem;
  margin-left: 5rem;
}
button {
  font-family: "Poppins", sans-serif;
  color: #fff;
  background: #1e50ff;
  cursor: pointer;
}
.join-btn {
  border-radius: 10px;
  padding: 0.7rem 2.5rem;
  margin: 2.5rem;
  margin-right: 5rem;
}

section {
  display: flex;
  justify-content: space-around;
  margin: 4rem;
}
.blur {
  z-index: -2;
  position: absolute;
}
.blur-3 {
  width: 400px;
  height: 400px;
  left: 960px;
  top: 224px;

  background: #1e50ff;
  filter: blur(120px);
}
.blur-2 {
  width: 320px;
  height: 320px;
  left: 640px;
  top: 160px;

  background: #aa00ff;
  filter: blur(120px);
}
.blur-1 {
  width: 400px;
  height: 400px;
  left: -160px;
  top: 224px;

  background: #1e50ff;
  opacity: 0.5;
  filter: blur(120px);
}

.btn-bg {
  position: relative;
  top: -25%;
  left: 7%;
  background: rgba(255, 255, 255, 0.1);
  width: 480px;
  height: 208px;

  border: 2px solid #1e50ff;
  backdrop-filter: blur(40px);
  border-radius: 8px;
  display: flex;
  gap: 2rem;
  justify-content: center;
  z-index: -1;
}

.face-img {
  margin-top: -4rem;
}

.bottom-btn {
  margin-top: 8rem;
  padding: 0.6rem;
  height: 45px;
  width: 175px;
  border-radius: 8px;
  cursor: pointer;
}
.know-btn {
  background: transparent;
  border: solid 1px #ffffff;
}
.buy-btn {
  border: none;
}

.text-section {
  width: 40vw;
}
h1 {
  font-size: 1.2rem;
  color: #5b7eff;
  margin-bottom: 2rem;
}

h2 {
  font-size: 5rem;
}

h4 {
  width: 35vw;
  font-weight: normal;
  font-size: 1.3rem;
}
.vl {
  height: 70px;
  border-left: 2px solid #ffffff;
}
.stat-blocks {
  display: flex;
  gap: 5rem;
  margin-top: 4rem;
}

.block > p {
  font-weight: bold;
  font-size: 3rem;
}

h5 {
  font-weight: normal;
  font-size: 1rem;
  text-align: center;
}

@media only screen and (max-width: 800px) {
  section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  .btn-bg {
    top: -170px;
    left: 7%;
  }
}
